{% from 'bootstrap5/utils.html' import render_icon %}
<nav class="navbar bg-primary" data-bs-theme="dark">
  <div class="container d-flex flex-wrap">
    <a class="navbar-brand" href="#">
      {{ render_icon("palette-fill", size="2rem") }}
      <span class="px-3 navbar-brand"> Palette-ize It! </span>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home
          <span class="visually-hidden">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Get Started</a>
      </li>
    </ul>
  </div>
</nav>
